<!DOCTYPE html>
<html lang="en">

<head>

<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<title>About</title>

<link rel="stylesheet"
href="{{ url_for('static', filename='css/style.css') }}">

</head>

<body>

<header>

<nav>

<h1>🧬 AI Drug Discovery</h1>

<ul>
<li><a href="/">Home</a></li>
<li><a href="/virtual_screening">Virtual Screening</a></li>
<li><a href="/drug_library">Drug Library</a></li>
<li><a href="/about">About</a></li>
</ul>

</nav>

</header>

<section class="hero">

<div class="upload-card">

<h2>About This Project</h2>

<br>

<p>

The AI Drug Discovery Platform is a bioinformatics web application
developed using Flask, BioPython and RDKit.

</p>

<br>

<p>

It enables researchers and students to upload protein and drug files,
analyze protein sequences, calculate molecular descriptors,
evaluate drug-likeness using Lipinski's Rule of Five,
visualize molecular structures,
and generate downloadable PDF reports.

</p>

<br>

<h3>Technologies Used</h3>

<br>

<table>

<tr><th>Technology</th><th>Purpose</th></tr>

<tr><td>Python</td><td>Backend Programming</td></tr>

<tr><td>Flask</td><td>Web Framework</td></tr>

<tr><td>BioPython</td><td>Protein Analysis</td></tr>

<tr><td>RDKit</td><td>Chemoinformatics</td></tr>

<tr><td>Matplotlib</td><td>Data Visualization</td></tr>

<tr><td>HTML/CSS</td><td>User Interface</td></tr>

</table>

</div>

</section>

<footer>

<p>AI Drug Discovery Platform © 2026</p>

</footer>

</body>

</html>