<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Drug Library</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>

<header>
    <nav>
        <h1>🧬 AI Drug Discovery</h1>

        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/virtual_screening">Virtual Screening</a></li>
            <li><a href="/drug_library">Drug Library</a></li>
            <li><a href="/about">About</a></li>
        </ul>
    </nav>
</header>

<section class="hero">
    <h2>Drug Library</h2>

    <p>
        Explore a collection of compounds, approved drugs, and molecular datasets for AI-assisted drug discovery.
    </p>
</section>

</body>
</html>